
#body {
    font-family: "Arial";
    font-size: 15px;
}

#series {
    margin-left: 50px;
    margin-top: 30px;
}

a {
    text-decoration: none;
}

#seasons {
    margin-left: 70px;
}

#series thead th {
    background-color: #ffffff;
    padding: 10px;
    text-align: left;
}

#series tbody td {
    border: solid 1px #edecec;
    background-color: #edecec;
    padding: 10px;
    text-align: left;
}
