
body {
    font-family: "Arial";
    font-size: 15px;
}

#series {
    margin-left: 70px;
    margin-top: 30px;
}

a {
    text-decoration: none;
}

#seasons {
    margin-left: 90px;
}

#series thead th {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
}

#series tbody td {
    background-color: #edecec;
    padding: 10px;
}
