
<nav class="navbar" id="body" style="background-color: #26a2b6;">
  <div class = "container-fluid">
      <a class="navbar-brand" href="#" style ="color:black;">
          <img src="assets/TVlogo.jpg" alt="" width="30px" class="d-inline-block ">
          TV Series
        </a>
  </div>
</nav>
<div id="body" class="container-fluid">
  <div class="row">
      <div class="col-4">
          <table id="series" class="table">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Channel</th>
                      <th>Seasons</th>
                  </tr>
              </thead>   
      <tbody>
        <tr *ngFor="let s of series">
          <td>
            <b>{{s.id}}</b>
          </td>
          <td>
            <dd>
              <a href={{s.website}}>{{s.name}}</a>
            </dd>
          </td>
          <td>{{s.channel}}</td>
          <td>{{s.seasons}}</td>
        </tr>
      </tbody>
    </table>
    <p id="seasons">Seasons average: {{averageSeasons}} </p>
  </div>
</div>
